/* Глобальні стилі */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Georgia", serif;
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Для додавання відступів у контейнер */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
